// import common styles
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "partials/variables";
@import "partials/fonts";
@import "partials/header";
@import "partials/footer";
@import "partials/form";

// import specific page styles
@import "partials/page-register";
@import "partials/page-profile";

body {
  font-family: 'open_sansregular', sans-serif;
}

.main-container {
  padding-bottom: 30px;
}

h1 {
  font-family: 'open_sansbold';
}

a, a:focus, a:hover {
  text-decoration: none;
}