header {
  .navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 1;
    
    .navbar-brand {
      font-family: 'open_sans_condensedbold';
      color: #eee;
      text-shadow: 0 1px 1px #777;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}