header {
  .navbar {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
    
    .navbar-brand {
      font-family: 'open_sans_condensedbold';
    }
  }
}