.register {  
  .welcome {
    text-align: center;
    text-shadow: 1px 0px 4px #000;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }
  
  .sign-up {
    > div {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: 15px;
      margin: 0 10px;
      @media (min-width: $screen-md-min) {
        margin: 0 -15px;
      }
    }
    
    h2 {
      font-family: 'open_sans_condensedbold';
      margin: 0;
      padding-bottom: 15px;
    }
  }
}