.student-profile {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  
  h1 {
    padding-bottom: 30px;
    text-align: center;
    
    @media(min-width: $screen-md-min) {
      text-align: left;
    }
  }
  
  .profile-picture {
    @media(min-width: $screen-md-min) {
      border-right: 1px solid #ccc;
    }
    
    > div {
      max-width: 250px;
      width: 100%;
      background-size: cover !important;
      height: 250px;
      margin: 0 auto;
      border-radius: 15px;
      border: 5px solid #ccc;
      overflow: hidden;
    }
  }
  
  .change-picture {
    display: block;
    margin: 10px 0 30px 0;
    text-align: center;
    width: 100%;
    font-weight: normal;
    padding: 0;
    cursor: pointer;
    color: #337ab7;
    @media(min-width: $screen-md-min) {
      margin-bottom: 0;
    }
    
    .glyphicon {
      font-size: 16px;
      padding-right: 10px;
    }
  }
  
  form {
    @media(min-width: $screen-md-min) {
      padding-top: 20px;
    }
    
    label {
      width: 50%;
      padding-top: 7px;
      float: left;
      text-align: right;
      @media(min-width: $screen-md-min) {
        width: 25%;
      }
    }
    
    .form-values {
      width: 50%;
      padding-right: 15px;
      float: left;
      @media(min-width: $screen-md-min) {
        width: 75%;
      }
    }
    
    .error {
      margin-left: 50%;
      @media(min-width: $screen-md-min) {
        margin-left: 25%;
      }
    }
    
    .submit {
      text-align: center;
      margin-top: 20px;
      
      @media(min-width: $screen-md-min) {
        text-align: right;
      }
    }
    
    &.readonly {
      .form-group {
        margin-bottom: 5px;
        
        input,
        input:focus,
        input:-webkit-autofill {
          background-color: transparent;
          border: 0;
          box-shadow: none;
          padding: 0;
          height: auto;
        }
        
        label {
          padding-top: 0;
        }
      }
    }
  }
}